@model RecordFCS.Models.MedidaPieza

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MedidaPieza</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pieza.SubFolio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pieza.SubFolio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoMedida.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoMedida.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Altura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Altura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anchura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anchura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profundidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profundidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diametro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diametro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diametro2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diametro2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UMLongitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UMLongitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UMMasa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UMMasa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Otra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Otra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Temp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
