@using RecordFCS.Models
@{
    bool EsMultipleValor = ViewBag.EsMultipleValor;
    Guid AtributoID = ViewBag.AtributoID;
    string ParametrosHTML = ViewBag.ParametrosHTML;
    Guid TipoAtributoID = ViewBag.TipoAtributoID;
    string TipoInput = ViewBag.TipoInput;
    string NombreAtt = ViewBag.NombreAtt;
    SelectList ListaValoresID = (SelectList) ViewBag.ListaValorID;
}


@if (!EsMultipleValor)
{

    <div class="input-group">
        @Html.DropDownList("id_" + AtributoID, ListaValoresID, "- Elije una opción -", htmlAttributes: new { @class = "form-control", required = "required" })

        <span class="input-group-addon">        </span>

        <input id="buscar_@AtributoID"  type="text" placeholder="Buscar valor" class="form-control" />

        <span class="input-group-addon">
            <input type="checkbox" id="checkAdd_@AtributoID" class="btnCheckAdd" data-toggle="tooltip" data-title="Buscar/Guardar">
        </span>


        <span id="btnAccion_@AtributoID" name="Buscar" class="input-group-addon btn btn-default">
            <span class="fa fa-search"></span>
        </span>

    </div>
    @Html.ValidationMessage("id_" + AtributoID, new { @class = "text-danger" })


}
else
{
    <div class="well">

        <div class="input-group">
            @Html.DropDownList("id_" + AtributoID, ListaValoresID, "- Elije una opción -", htmlAttributes: new { @class = "form-control", required = "required" })


            <span class="input-group-addon">        </span>

            <input id="buscar_@AtributoID"  type="text" placeholder="Buscar valor" class="form-control" />

            <span class="input-group-addon">
                <input type="checkbox" id="checkAdd_@AtributoID" class="btnCheckAdd" data-toggle="tooltip" data-title="Buscar/Guardar">
            </span>


            <span id="btnAccion_@AtributoID" name="Buscar" class="input-group-addon btn btn-default">
                <span class="fa fa-search"></span>
            </span>


        </div>

        @Html.ValidationMessage("id_" + AtributoID, new { @class = "text-danger" })


        <p>Lista de valores:</p>
        <ul id="listaValores_@AtributoID" class="media-list"></ul>

    </div>



}




<script src="~/Scripts/add.toolTip.js"></script>

<!-- SECCION DE SCRIPTS-->
@if (!EsMultipleValor)
{
    <script type="text/javascript">

        $('#btnAccion_@AtributoID').on("click", function (e) {


            var attID = '@AtributoID';
            var tipoAttID = '@TipoAtributoID';
            var $inputSelect = $('#id_' + attID);
            var $itemSelected = $inputSelect.find('option:selected');
            var $btnCheck = $('#checkAdd_' + attID);
            var $inputBuscar = $('#buscar_' + attID);

            var $btn = $('#btnAccion_@AtributoID');

            /*
            Elemento Seleccionado:
                Texto = $itemSelected.text()
                Valor o id = $itemSelected.val()

            Input Buscador
                Valor = $inputBuscar.val()

            Boton Checked
                Valor = $btnCheck.is(':checked')

            Atributos
                Mostrar: $btn.attr("name")
                Cambiar Valor :  $btn.attr("name","prueba")
            */

            if ($btn.attr("name") == "Agregar") {
                //alert("entro a agregar");

                var myUrl = '@Url.Action("Crear", "ListaValor", new { id = @TipoAtributoID, EsRegistroObra = true })';

                $.ajaxSetup({ cache: false });

                $('#miModalContenido').load(myUrl, function () {
                    $('#Valor').val($inputBuscar.val());

                    $('#miModal').modal({
                        backdrop: 'static',
                        keyboard: true
                    }, 'show');

                    bindForm_ListaGenerica(this);
                });

                function bindForm_ListaGenerica(dialog) {

                    alert("listaGen_@AtributoID");

                    var attID = '@AtributoID';

                    $('form', dialog).submit(function (e) {

                        var validarOK = false;


                        validarOK = $(this).validate().valid();

                        if (validarOK) {
                            $.ajax({
                                url: this.action,
                                type: this.method,
                                data: $(this).serialize(),
                                success: function (result) {
                                    if (result.success) {
                                        $('#miModal').modal('hide');

                                        $('#buscar_' + attID).val(result.valor);

                                        $('#checkAdd_' + attID).trigger("click");
                                        $('#btnAccion_' + attID).trigger("click");

                                        $('#alertasDiv').load('/Base/_Alertas');

                                    } else {
                                        $('#miModalContenido').html(result);
                                        bindForm_ListaGenerica(dialog);
                                    }
                                }
                            });
                        }
                        return false;
                    });

                }

                //mostrar modal para confirmar el campo que se va agregar

            }
            else {

                $.ajaxSetup({ cache: false });

                var myUrl = '@Url.Action("GenerarLista","ListaValor",null)';

                $inputSelect.html('<option> Cargando... </option>');

                $.ajax({
                    url: myUrl,
                    type: 'POST',
                    data: { id: tipoAttID, Filtro: $inputBuscar.val() },
                    dataType: 'json',
                    success: function (result) {

                        if (result.length) {
                            $inputSelect.html('<option> - Elije un resultado - </option>');

                            for (var i = 0; i < result.length; i++) {
                                $inputSelect.append('<option value = "' + result[i].ListaValorID + '">' + result[i].Valor + '</option>');
                            }
                        }
                        else {
                            $inputSelect.html('<option> - Sin resultados - </option>');
                        }


                    }
                });

                $inputSelect.focus();

            }

        });

        $('#checkAdd_@AtributoID').on("click", function (e) {

            var attID = '@AtributoID';
            var $btnCheck = $('#checkAdd_' + attID);
            var $btn = $('#btnAccion_@AtributoID');
            var $inputBuscar = $('#buscar_' + attID);


            if ($btnCheck.is(':checked')) {
                $btn.attr("name", "Agregar");
                $btn.html('<span class="fa fa-floppy-o"></span>');
                $btn.removeClass("btn-default");
                $btn.addClass("btn-success");

                $inputBuscar.attr("placeholder", "Guardar valor");

            }
            else {
                $btn.attr("name", "Buscar");
                $btn.html('<span class="fa fa-search"></span>');
                $btn.removeClass("btn-success");
                $btn.addClass("btn-default");

                $inputBuscar.attr("placeholder", "Buscar valor");

            }
        });


    </script>

}
else
{
    <script type="text/javascript">

        $('#btnAccion_@AtributoID').on("click", function (e) {


            var attID = '@AtributoID';
            var tipoAttID = '@TipoAtributoID';
            var $inputSelect = $('#id_' + attID);
            var $itemSelected = $inputSelect.find('option:selected');
            var $btnCheck = $('#checkAdd_' + attID);
            var $inputBuscar = $('#buscar_' + attID);

            var $btn = $('#btnAccion_@AtributoID');

            /*
            Elemento Seleccionado:
                Texto = $itemSelected.text()
                Valor o id = $itemSelected.val()

            Input Buscador
                Valor = $inputBuscar.val()

            Boton Checked
                Valor = $btnCheck.is(':checked')

            Atributos
                Mostrar: $btn.attr("name")
                Cambiar Valor :  $btn.attr("name","prueba")
            */

            if ($btn.attr("name") == "Agregar") {
                //alert("entro a agregar");

                var myUrl = '@Url.Action("Crear", "ListaValor", new { id = @TipoAtributoID, EsRegistroObra = true })';

                $.ajaxSetup({ cache: false });

                $('#miModalContenido').load(myUrl, function () {
                    $('#Valor').val($inputBuscar.val());

                    $('#miModal').modal({
                        backdrop: 'static',
                        keyboard: true
                    }, 'show');

                    bindForm_ListaGenericaMultiple(this);
                });

                function bindForm_ListaGenericaMultiple(dialog) {

                    alert("listaGen_@AtributoID");

                    var attID = '@AtributoID';

                    $('form', dialog).submit(function (e) {

                        var validarOK = false;


                        validarOK = $(this).validate().valid();

                        if (validarOK) {
                            $.ajax({
                                url: this.action,
                                type: this.method,
                                data: $(this).serialize(),
                                success: function (result) {
                                    if (result.success) {
                                        $('#miModal').modal('hide');

                                        $('#buscar_' + attID).val(result.valor);

                                        $('#checkAdd_' + attID).trigger("click");
                                        $('#btnAccion_' + attID).trigger("click");

                                        $('#alertasDiv').load('/Base/_Alertas');

                                    } else {
                                        $('#miModalContenido').html(result);
                                        bindForm_ListaGenericaMultiple(dialog);
                                    }
                                }
                            });
                        }
                        return false;
                    });

                }

                //mostrar modal para confirmar el campo que se va agregar

            }
            else {

                $.ajaxSetup({ cache: false });

                var myUrl = '@Url.Action("GenerarLista","ListaValor",null)';

                $inputSelect.html('<option> Cargando... </option>');

                $.ajax({
                    url: myUrl,
                    type: 'POST',
                    data: { id: tipoAttID, Filtro: $inputBuscar.val() },
                    dataType: 'json',
                    success: function (result) {

                        if (result.length) {
                            $inputSelect.html('<option> - Elije un resultado - </option>');

                            for (var i = 0; i < result.length; i++) {
                                $inputSelect.append('<option value = "' + result[i].ListaValorID + '">' + result[i].Valor + '</option>');
                            }
                        }
                        else {
                            $inputSelect.html('<option> - Sin resultados - </option>');
                        }


                    }
                });

                $inputSelect.focus();

            }

        });

        $('#checkAdd_@AtributoID').on("click", function (e) {

            var attID = '@AtributoID';
            var $btnCheck = $('#checkAdd_' + attID);
            var $btn = $('#btnAccion_@AtributoID');
            var $inputBuscar = $('#buscar_' + attID);


            if ($btnCheck.is(':checked')) {
                $btn.attr("name", "Agregar");
                $btn.html('<span class="fa fa-floppy-o"></span>');
                $btn.removeClass("btn-default");
                $btn.addClass("btn-success");

                $inputBuscar.attr("placeholder", "Guardar valor");

            }
            else {
                $btn.attr("name", "Buscar");
                $btn.html('<span class="fa fa-search"></span>');
                $btn.removeClass("btn-success");
                $btn.addClass("btn-default");

                $inputBuscar.attr("placeholder", "Buscar valor");

            }
        });


    </script>



    <script type="text/javascript">

        $('#id_@AtributoID').on("change", function (e) {

            var attID = '@AtributoID';
            var $inputSelect = $(this);
            var ul = $('#listaValores_' + attID);
            var $inputBuscar = $('#buscar_' + attID);

            var $itemSelected = $inputSelect.find('option:selected');

            if ($itemSelected.val() == "") {
                //alert("vacio: " + $itemSelected.text());

            }
            else {
                //alert("algo: " + $itemSelected.text());

                var id_temp = 'id_' + attID + '_' + $itemSelected.val();

                var existe = false;

                var i = ul.children().length;
                ul.find('li').each(function (i, li) {
                    if ($(this).attr('id') == 'li_' + id_temp) {
                        existe = true;
                        //alert($(li).attr("id"));
                    }
                });

                if (!existe) {
                    var li = $('<li>', {
                        'class': 'media',
                        id: "li_" + id_temp,

                    });


                    var li_div = $('<div>', {
                        'class': 'media-body',
                        text: $itemSelected.text()
                    })

                    var li_div_input = $('<input />', {
                        type: 'hidden',
                        id: id_temp,
                        name: id_temp,
                        value: $itemSelected.val()
                    })

                    var li_span = $('<span>', {
                        id: 'quitar_' + id_temp,
                        'class': 'btn btn-xs btn-danger media-right',
                        'data-toggle': 'tooltip',
                        title: "Quitar valor"
                    });

                    var li_span_span = $('<span>', {
                        'class': 'fa fa-times'
                    });


                    li_div.append(li_div_input);

                    li.append(li_div);

                    li_span.append(li_span_span);

                    li.append(li_span);


                    ul.append(li);



                    li_span.addClass("quitarLiListaGen_" + attID);
                    li_span.tooltip();
                }





                //var stringHTML = '  <li class="media" id = "li_' + id_temp + '">';
                //stringHTML += '         <div class="media-body">';
                //stringHTML += '             <input type="hidden" ' + 'id="' + id_temp + '"  value = "' + $itemSelected.val() + '"/>';
                //stringHTML +=                   $itemSelected.text();
                //stringHTML += '             </div>' ;
                //stringHTML += '             <span id="quitar_' + id_temp + '" class="btn btn-xs btn-danger media-right" data-toggle="tooltip" title="Quitar valor"><span class="fa fa-times"></span></span>';
                //stringHTML += '     </li>';


                //ul.append(stringHTML);









                $inputBuscar.val('');
                $inputSelect.val('');




            }

            if (ul.html() == "") {
                $inputSelect.attr('required', true);
            }
            else {
                $inputSelect.attr('required', false);
            }


        });

        $(document.body).on("click", '.quitarLiListaGen_' + '@AtributoID', function (e) {

            var attID = '@AtributoID';
            var ul = $('#listaValores_' + attID);
            var $inputSelect = $('#id_' + attID);

            $(this).parent().remove()

            if (ul.html() == "") {
                $inputSelect.attr('required', true);
            }
            else {
                $inputSelect.attr('required', false);
            }

        });
    </script>
}