@using RecordFCS.Models
@model RecordFCS.Models.Pieza
@using RecordFCS.Helpers


@{

    bool principal = Model.TipoPieza.EsPrincipal;
    int Nuimagenes = Model.ImagenPiezas.Count;
    int Nuautores = Model.AutorPiezas.Count;
    int NuMedidas = Model.MedidaPiezas.Count;
    int NuTecnicas = Model.TecnicaPiezas.Count;

    string subFolio = Model.SubFolio;
}


<li class="media">

    <div class="media-left media-middle">
        <div class="thumbnail">
            <img class="media-object img-responsive" src="~/Content/img/pieza/thumb/e0dbc2e2-dddc-42b0-b0f0-819d35530bbe.jpg" />
        </div>
    </div>


    <div class="media-body">
        <h4 class="media-heading pull-right">@subFolio</h4>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="col-lg-3 col-md-5 col-sm-5"></th>
                    <th>Acciones excusivas de la pieza</th>
                </tr>

            </thead>

            <tbody>

                @foreach (var att in (List<Atributo>)ViewBag.listaAttributosFichaCompleta)
                {
                    var tipoAtt = att.TipoAtributo;

                    if (tipoAtt.EsGenerico)
                    {
                        var lista_AttPieza = Model.AtributoPiezas.Where(a => a.Atributo == att).ToList();
                        var color = lista_AttPieza.Count > 0 ? "default" : "warning";

                        <tr class="@color">
                            <td>
                                <p>
                                    @att.NombreAlterno

                                    @if (tipoAtt.EsMultipleValor)
                                    {
                                        @Html.NoEncodeActionLink("<span class='fa fa-plus'><span/>", "Agregar otr@ " + att.NombreAlterno, "Crear", "AtributoPieza", new { id = att.AtributoID }, new { data_modal = "", data_toggle = "tooltip", @class = "link link-success btn-xs  pull-right CrearValor" })
                                    }
                                </p>
                            </td>

                            <td id="td_@att.AtributoID">
                                @if (color == "default")
                                {
                                    foreach (var item in lista_AttPieza)
                                    {
                                        <p id="valor_@item.AtributoPiezaID" class="hover-dorado">
                                            @Html.NoEncodeActionLink("<span class='fa fa-pencil'><span/>", "Editar", "Editar", "AtributoPieza", new { id = item.AtributoPiezaID }, new { data_modal = "", data_toggle = "tooltip", @class = "link link-success btn-xs  pull-right EditarValor" })

                                            @if (tipoAtt.EsLista)
                                            {
                                                @item.ListaValor.Valor
                                            }
                                            else
                                            {
                                                @item.Valor
                                            }

                                        </p>
                                    }
                                }
                                else
                                {
                                    if (!tipoAtt.EsMultipleValor)
                                    {
                                        <p>
                                            @Html.NoEncodeActionLink("<span class='fa fa-plus'><span/>", "Agregar " + att.NombreAlterno, "Crear", "AtributoPieza", new { id = att.AtributoID }, new { data_modal = "", data_toggle = "tooltip", @class = "link link-success btn-xs pull-right CrearValor" })
                                        </p>
                                    }
                                }
                            </td>
                        </tr>

                    }
                    else
                    {
                        string color = "";
                        switch (tipoAtt.TablaSQL)
                        {
                            case "Autor":
                                {
                                    //multiple
                                    var lista_AttAutor = Model.AutorPiezas.Where(a => a.Status).OrderBy(a => a.Autor.Nombre).ToList();
                                    color = lista_AttAutor.Count > 0 ? "default" : "warning";
                                    <tr class="@color">
                                        <td>
                                            @att.NombreAlterno
                                            @Html.NoEncodeActionLink("<span class='fa fa-plus'><span/>", "Agregar otr@ " + att.NombreAlterno, "Crear", "AtributoPieza", new { id = att.AtributoID }, new { data_modal = "", data_toggle = "tooltip", @class = "link link-success btn-xs  pull-right CrearValor" })

                                        </td>
                                        <td id="td_@att.AtributoID">
                                            @if (color == "default")
                                            {
                                                foreach (var item in lista_AttAutor)
                                                {
                                                    <p id="autor_@(item.PiezaID)_@(item.AutorID)" class="hover-dorado">
                                                        @Html.NoEncodeActionLink("<span class='fa fa-pencil'><span/>", "Editar", "Editar", "AtributoPieza", new { id = item.PiezaID, autorID = item.AutorID }, new { data_modal = "", data_toggle = "tooltip", @class = "link link-success btn-xs  pull-right EditarAutor" })
                                                        @(item.Autor.Nombre + " " + item.Autor.Apellido)
                                                    </p>
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                                break;
                            case "Ubicacion":
                                {
                                    color = Model.UbicacionID != null ? "default" : "warning";
                                    <tr class="@color">
                                        <td>
                                            @att.NombreAlterno
                                            @*@Html.NoEncodeActionLink("<span class='fa fa-plus'><span/>", "Agregar otr@ " + att.NombreAlterno, "Crear", "AtributoPieza", new { id = att.AtributoID }, new { data_modal = "", data_toggle = "tooltip", @class = "link link-success btn-xs  pull-right CrearValor" })*@
                                        </td>
                                        <td id="td_@att.AtributoID">
                                            @if (color == "default")
                                            {
                                                <p id="ubicacion_@(Model.UbicacionID)" class="hover-dorado">
                                                    @*@Html.NoEncodeActionLink("<span class='fa fa-pencil'><span/>", "Editar", "Editar", "AtributoPieza", new { id = item.PiezaID, autorID = item.AutorID }, new { data_modal = "", data_toggle = "tooltip", @class = "link link-success btn-xs  pull-right EditarAutor" })*@
                                                    @Model.Ubicacion.Nombre
                                                </p>
                                            }
                                        </td>
                                    </tr>
                                }

                                break;
                            case "TipoTecnica":
                            //multiple
                            case "TipoMedida":
                            //multimple
                            case "ImagenPieza":
                            default:
                            <tr>
                                <td>@att.NombreAlterno</td>
                                <td>Sin implementar</td>
                            </tr>
                                break;
                        }

                    }
                }




            </tbody>


            @*<tr>
                    <td>
                        Autor
                    </td>
                    <td>
                        <a href="#" class="pull-right text-muted"><i class="fa fa-pencil"></i></a>
                        <p class="hover-dorado">
                            Nombre Autor 1
                        </p>
                        <p class="hover-dorado">
                            Nombre Autor 2
                        </p>
                        <p class="hover-dorado">
                            Nombre Autor 3
                        </p>
                    </td>

                </tr>

                <tr>
                    <td>
                        Comentario
                        <a href="#" class="pull-right text-muted"><i class="fa fa-pencil"></i></a>
                    </td>
                    <td>
                        <p class="hover-dorado">

                            Comentario Descripcion
                        </p>
                    </td>
                </tr>

                <tr>
                    <td>
                        Ubicacion
                        <a href="#" class="pull-right text-muted"><i class="fa fa-pencil"></i></a>
                    </td>
                    <td>
                        <p class="hover-dorado">
                            Ubicacion Descripcion
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        Estado de conservación
                        <a href="#" class="pull-right text-muted"><i class="fa fa-pencil"></i></a>
                    </td>
                    <td>
                        <p class="hover-dorado">
                            Estado de conservacion Descripcion
                        </p>
                    </td>
                </tr>

                <tr>
                    <td>
                        Propietario
                        <a href="#" class="pull-right text-muted"><i class="fa fa-pencil"></i></a>
                    </td>
                    <td>
                        <p class="hover-dorado">
                            Propietario Descripcion
                        </p>
                    </td>
                </tr>*@
        </table>

    </div>




</li>