@model RecordFCS.Models.Pieza

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pieza</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Obra.Temp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Obra.Temp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PiezaPadre.SubFolio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PiezaPadre.SubFolio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoPieza.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPieza.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ubicacion.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ubicacion.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubFolio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubFolio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Temp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temp)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
