@model RecordFCS.Models.Pieza

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pieza</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Obra.Temp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Obra.Temp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PiezaPadre.SubFolio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PiezaPadre.SubFolio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoPieza.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPieza.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ubicacion.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ubicacion.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubFolio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubFolio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Temp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PiezaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
